@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #333;
    --secondary-color: rgb(110, 107, 107);
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Navbar Section */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;

}


.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;

}

.navbar h1 {
    font-style: initial;

}


/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;

}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}


.showcase::before,
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -85px;
    right: 0;
    left: 0;
    background: #fff;

}

/* Menu Section */
.termTop {
    width: 350px;
    box-sizing: border-box;
    height: 25px;
    background-color: #bbb;
    margin: 0 auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.termButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    display: inline-block;
}

.termClose {
    left: 5px;
    background-color: #F45D52;
    border-color: #F45D52;

}

.termMinimize {
    left: 10px;
    background-color: #ECAA46;
    border-color: #ECAA46;
}

.termZoom {
    left: 15px;
    background-color: #2A9D8F;
    border-color: #2A9D8F;
    ;
}



.terminal {
    background-color: #151515;
    box-sizing: border-box;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}

.terminal P {
    color: #fff;
    font-size: 1.25em;
    font-family: monospace;
    white-space: nowrap;
    width: 0;
    animation: slide-left 1s ease-in;
}


.cmdLine {
    color: #fff;


}


.curs1 {
    animation: blink 1s infinite;
}

@keyframes slide-left {
    from {
        margin-left: 42%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 0
    }

    49% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}


/* Tools Section */
.tools {
    padding-top: 35px;

}

.tools-heading {
    max-width: 700px;
    margin: auto;
}

.tools .grid p {
    margin: .7rem;
}

.tools h1 {
    font-weight: bolder;
    padding: 2rem;
}

/* Pricing Section */

.pricing-table {
    font-family: 'Niramit', sans-serif;
    height: auto;
    background: #F6F4F4;
    margin-bottom: -30px;

}

.pricing-table .pricing-body {
    border-color: #d0d6da;
    margin-top: 40px;
    position: relative;
    transition: all .2s;
    float: left;
    margin-left: 50px;
    width: 250px;
    height: 400px;

}


.pricing-table .pricing-body:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    transform: translate(0, -3px)
}


.pricing-header {
    background: #fff;
    border: none;
    font-size: 1.5rem;
}



.pricing-table .pricing-info {
    color: #3c4858;
}

.pricing-info .text-muted {
    font-size: 22px
}

.price-stats li {
    border-bottom: 1px solid #f6f8f9;
    color: #798388;
    padding: 12px 10px;
}

.pricing-body .btn {
    font-weight: bold;
}



/* Cloud Section */
.cloud {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pexels-manuel-geissinger-325229.jpg") repeat no-repeat; */
    height: 500px;
}


.cloud h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}



.cloud .grid {
    /*grid-template-columns: 6fr 2fr; */

}

/* Applications Section */
.applications .flex {
    flex-wrap: wrap;
}


.applications .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
    width: 200px;


}

.applications .card img {
    height: 120px;
    width: 120px;
}

.applications .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}



/* Features Section (2nd Page)*/
.features-head img {
    width: 200px;
    justify-self: flex-end;
}

.features-about img {
    width: 300px;
    justify-self: flex-end;
}

/* Features Main Section (2nd Page)*/
.features-main .card>i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main h3 {
    padding: 0;
    margin: 0;

}

.features-main .grid>*:first-child {
    /* grid-column: 1 / span 3; */
    /* grid-column: 1 / span 6; */
}

.features-main .grid>*:nth-child(2) {
    /*  grid-column: 1 / span 2; */
    /*grid-column: 1 / span 3; */
}

.features-main .grid>*:nth-child(3) {
    /*  grid-column: 1 / span 2; */
    grid-column: 1 / span 2;
}

.features-main .grid>*:nth-child(4) {
    /*  grid-column: 1 / span 2; */
    grid-column: 1 / span 2;
}

/* Documentation Section (3rd Page)*/
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}


.warning-alert {
    background-color: #e9c46a;
    margin: 20px 0;
}



/* Footer Section */

.footer {
    background-color: var(--primary-color);
    /*border-bottom: 1px solid #fff; */
}

.footer .social a {
    margin: 0 10px;

}

.footer-links {
    padding: 100px;
}

.footer-title {

    border-bottom: 1px solid #fff;
}


/* Tablets and Under Media Query */
@media(max-width: 768px) {

    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase h1,
    p {
        text-align: center;
        margin-top: 40px;


    }

    .showcase-form {
        justify-self: center;
        margin: auto;

    }

    .cli .grid>*:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head,
    .features-about,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-about img,
    .docs-head img {
        justify-self: center;
    }

    .features-main .grid>*:first-child,
    .features-main .grid>*:nth-child(2) {
        grid-column: 1;
    }

    /*Cloud Section */
    .cloud {
        height: auto;
        text-align: center;
    }

    /* Pricing Table*/
    .pricing-table {
        display: flex;
        height: auto;

    }

    /* Footer Section*/
    .footer-links {

        font-weight: bolder;
        margin: 0px -100px;


    }

    .footer .social {
        display: flex;
    }

    /* Menu Section*/

    .termTop {
        height: auto;
        margin-bottom: 100px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


}


/* Mobile Queries */
@media(max-width: 500px) {
    .navbar {
        height: 110px;

    }

    .navbar .flex {
        flex-direction: column;


    }

    .navbar ul {
        padding: 10px;


    }

    .curs1 {
        animation: blink 1s infinite;
    }

    .showcase {
        height: auto;
        justify-self: center;

    }

    .showcase h1,
    p {
        text-align: center;
        margin-top: 40px;
    }

    .showcase .btn {
        margin-left: 120px;

    }



    /* Pricing Table*/
    .pricing-body {
        float: none;
        margin-right: 100px;
        width: 100%;
    }

    /* Menu Section*/
    .termTop {
        height: auto;
        margin: 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-size: small;
    }

    /* Features (2ND Page) */

    .features-main .card {
        width: 350px;
        margin-left: 30px;
    }

    .features-main h3,
    p {
        text-align: center;
        margin: auto;
    }

    /* Documentation (3rd Page) */

    .docs-main {
        text-align: center;
    }

    .warning-alert {
        text-align: center;
    }




}